/**
* mkdowm parse styles
*/
body {
  counter-reset: chapter;
}
.container {
  a {
    color: #0593d3;
    border-bottom: none;
    text-decoration: none;
    outline: none;
  }
  li {
    list-style-type: decimal;
    list-style-position: outside;
  }
  blockquote {
    padding: 1em;
    color: #666;
    border-left: 4px solid #ddd;
    background: @main-background;
    line-height: 2;
    border-radius: @border-radius-base;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0.67em 0;
    padding: 0;
    color: inherit;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
  }
  h2 {
    &::before {
      counter-increment: chapter;
      content: counter(chapter) '. ';
    }
  }
}
.tableContents {
  padding: 1em;
  border-left: 5px solid #dbdbdb;
  background: transparent;
  margin-bottom: 1em;
  position: relative;
  z-index: auto;
  &::after {
    position: absolute;
    content: '目录';
    top: -10%;
    right: 10%;
    font-size: 42px;
    color: #efefef;
    font-weight: 700;
    z-index: 0;
  }
  * {
    z-index: 1;
    position: relative;
  }
  p {
    margin: 0;
  }
  ul {
    margin: 0 0 0 1em;
  }
  li {
    margin: 0;
    list-style: decimal;
  }
}
@media screen and (max-width: 768px) {
  .tableContents {
    padding: 1em;
  }
}
.lead {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 1em;
  margin: 0;
}
