.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  right: 0;
}
@media screen and (max-width: 467px) {
  .wrapper {
    width: calc(100vw - 5px) !important;
    margin: unset;
  }
}
