.wrap {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 200px;
  background: linear-gradient(
    135deg,
    rgb(20, 22, 25),
    rgb(29, 32, 25) 70%,
    rgb(40, 44, 49) 90%
  );
  a {
    color: var(--link-hover-color);
  }
}
.main {
  transform: translateY(120px);
  color: #fff;
  > div {
    text-align: center;
    margin: 0;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
.icon {
  height: 20px;
  width: 20px;
  margin: 0 4px;
  vertical-align: -2px;
}
.phrase {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  color: #fff;
  > div {
    margin: 0 20px;
  }
}
.valley {
  width: 100%;
  height: 250px;
  position: absolute;
  top: -120px;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/img/valley.svg);
}
.git {
  color: var(--link-hover-color);
}
