a {
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}
li {
  list-style: none;
}
/* custom */
html,
body {
  overflow-y: hidden;
}

body {
  position: relative;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: @main-background;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
* {
  box-sizing: border-box;
}

article {
  padding: 1.5rem 0.7rem;
  border-radius: 2px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.6);
  transition: background-color 0.2s ease-in;
  a {
    &:hover {
      color: rgb(50, 124, 228);
    }
  }
}
@media screen and (max-width: 768px) {
  article {
    padding: 1.5rem 0;
  }
}
