.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  background: rgb(53, 53, 53);
  z-index: 1;
}
.avatar {
  min-width: 50px;
  border-radius: 100%;
  left: 0;
  bottom: -36px;
}
