.wrapper {
  position: absolute;
  top: 0;
  transition: transform 0.5s ease-out;
  left: 0;
  right: 0;
  z-index: 1;
}
.active {
  transform: translateY(100vh);
}
.disActive {
  transform: none;
}
.trigger {
  transform: translateY(90vh);
}
.clickTip {
  color: @text-color;
  font-size: 18px;
  opacity: 0;
  transition: opacity 1.5s ease-in;
  position: absolute;
  top: calc(5vh - 15px);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.show {
  opacity: 1;
}
