.wrapper {
  position: absolute;
  top: 100%;
  transform: translateY(0);
  transition: transform 0.5s ease-out;
  left: 0;
  right: 0;
}
.active {
  transform: translateY(0);
}
.disActive {
  transform: translateY(-100vh);
}
.trigger {
  transform: translateY(-10vh);
}
.skip {
  top: 0 !important;
  transition: unset !important;
  transform: unset !important;
}
