.svg {
  .g1 {
    transform-origin: 50px 50px;
    transform: scale(0.85);
    animation: breath 1.5s linear -1s infinite normal forwards;
    path {
      fill: #d1d1d1;
    }
  }
  .g2 {
    transform-origin: 50px 50px;
    transform: scale(0.85);
    animation: breath 1.5s linear -1.5s infinite normal forwards;
    path {
      fill: #454545;
    }
  }
}
.running {
  * {
    animation-play-state: running !important;
  }
}
.paused {
  * {
    animation-play-state: paused !important;
  }
}
.list {
  margin: 0;
  padding: 0.5em 0;
  font-size: 14px;
  z-index: 1;
  position: relative;
}

.liWrap {
  margin: 0;
  padding: 0.3em 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in;
  .name {
    margin-right: 30px;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.active {
  padding: 1em 1em;
  background-color: rgba(255, 255, 255, 0.1);
}

@keyframes breath {
  0% {
    animation-timing-function: cubic-bezier(0.628, 0.308, 0.2636, 0.7088);
    transform: scale(0.85);
  }

  51% {
    animation-timing-function: cubic-bezier(0.5819, 0.316, 0.3275, 0.6954);
    transform: scale(1.08976);
  }

  100% {
    transform: scale(0.85);
  }
}

.playingImg {
  position: relative;
  width: 25px;
  height: 22px;
  text-align: center;
  font-size: 10px;
  transition: all 0.2s ease;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -25px;
  & > div {
    background-color: #fff;
    height: 100%;
    width: 3px;
    display: inline-block;
    transition: all 0.2s ease;
    animation: wavy 1s ease infinite forwards;
    transform-origin: 50% 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  }
  & > div:nth-child(2) {
    animation-delay: 0.25s;
  }
  & > div:nth-child(3) {
    animation-delay: 0.5s;
  }
  & > div:nth-child(4) {
    animation-delay: 0.75s;
  }
  & > div:nth-child(5) {
    animation-delay: 1s;
  }
  @keyframes wavy {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.6);
    }
    100% {
      transform: scaleY(1);
    }
  }
}
.controller {
  margin: 0;
  padding: 1em 1em 0 1em;
  position: relative;
  z-index: 1;
  svg {
    fill: #fff;
    transition: all 0.2s linear;
  }
}

.start {
  svg {
    width: 38px;
    height: 38px;
    cursor: pointer;
    &:hover {
      fill: #d1d1d1;
    }
  }
}
.loop {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 28px;
    height: 28px;
    cursor: pointer;
    &:hover {
      fill: #d1d1d1;
    }
  }
}
.volume {
  display: flex;
  align-items: center;
  > svg {
    margin-left: 0.6em;
    width: 20px;
    height: 20px;
  }
}
.waveWrap {
  position: relative;
  canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -60%;
  }
}
// 覆盖默认antd样式
:global(..ant-tooltip) {
}
:global(.ant-tooltip-arrow) {
  display: none;
}
:global(.ant-tooltip-inner) {
  padding: 0;
  margin: 0;
  border-radius: @border-radius-base;
  background: linear-gradient(135deg, #141619 0%, #c7d2db 100%);
}
:global(.ant-slider-track) {
  background: linear-gradient(90deg, #7b8696 0%, #c7d2db 100%);
}
