.avatar {
  border-radius: 50%;
  touch-action: none;
  position: relative;
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

.InfoWrap {
  display: flex;
  flex-flow: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}
.titleWrap {
  div {
    z-index: 1;
    position: relative;
    text-align: center;
  }
  > div:nth-child(2) {
    font-size: 20px;
    padding-top: 16px;
    font-weight: bold;
  }
}
.iconWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  margin-top: 10px;
  > * {
    margin: 0 10px;
  }
  .icon {
    color: var(--text-color);
  }
}

.steamWrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  del {
    color: var(--text-color-secondary);
    font-size: 12px;
  }
}
.wechatWrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  del {
    color: var(--text-color-secondary);
    font-size: 12px;
  }
}

.calendar {
  padding: 8px;
  .header {
    font-weight: bold;
    font-size: 16px;
    color: var(--text-color);
  }
}
.calendarCell {
  text-align: center;
  .count {
    font-size: 14px;
  }
}
.col {
  background: var(--main-background);
  border-radius: var(--border-radius-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 14px;
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
  height: 250px;
  position: relative;
  &::after {
    height: 20px;
    width: 20px;
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/img/pin.svg);
  }
  .title {
    font-size: 45px;
    position: absolute;
    text-transform: uppercase;
    bottom: 10%;
    right: 10px;
    font-weight: bold;
    color: var(--text-color-fourth);
    z-index: 0;
  }
}
@media screen and (max-width: 1110px) and (min-width: 631px) {
  .col {
    margin: 10px;
  }
}
.contentsWrap {
  height: unset;
  max-width: 300px;
  li {
    list-style-type: decimal;
    list-style-position: outside;
  }
  .contents {
    z-index: 1;
    position: relative;
    & :global {
      .ant-anchor-wrapper {
        background: none;
        max-height: unset !important;
      }
      .ant-affix {
        position: absolute !important;
      }
    }
  }
}
.contentsFix {
  position: fixed;
  width: 300px;
  max-height: calc(100vh - 80px);
  top: 74px;
  padding-top: 20px;
  overflow-y: auto;
}
.wordCloudWrap {
  overflow: hidden;
}
.hide {
  display: none;
}
.commentWrap {
  height: unset;
}
.calendarWrap {
  height: unset;

  & :global(.ant-picker-cell-disabled) {
    color: var(--text-color-secondary) !important;
  }
  & :global(.ant-picker-cell-disabled::before) {
    background: none;
  }

  & :global(.ant-picker-cell-in-view) {
    transition: all 0.3s linear;
    color: var(--primary-color);
    &:hover {
      background: #e6f7ff;
    }
  }
}
.toolsWrapper {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  * {
    z-index: 1;
  }
  .toolName {
    line-height: 40px;
    color: var(--text-color);
  }
  .toolLink {
    margin: 6px;
  }
  .tool {
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    background: var(--component-background);
    padding: 3px 8px 3px 2px;
    &:hover {
      .toolName {
        color: var(--link-hover-color);
      }
    }
  }
  .iconBox {
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    position: relative;
    height: 40px;
    width: 40px;
    margin-right: 2px;
  }
  .toolIcon {
    border-radius: 50%;
    font-size: 36px;
    overflow: hidden;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}
