.avatar {
  border-radius: 50%;
  touch-action: none;
  position: relative;
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

.InfoWrap {
  display: flex;
  flex-flow: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}
.titleWrap {
  div {
    z-index: 1;
    position: relative;
    text-align: center;
  }
  > div:nth-child(2) {
    font-size: 20px;
    padding-top: 16px;
    font-weight: bold;
  }
}
.iconWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  margin-top: 10px;
  > * {
    margin: 0 10px;
  }
  .icon {
    color: @text-color;
  }
}

.steamWrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  del {
    color: @text-color-secondary;
    font-size: 12px;
  }
}
.wechatWrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  del {
    color: @text-color-secondary;
    font-size: 12px;
  }
}
.col {
  background: #fff;
  border-radius: @border-radius-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 14px;
  box-shadow: @box-shadow-base;
  margin-bottom: 10px;
  height: 250px;
  position: relative;
  &::after {
    height: 20px;
    width: 20px;
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/img/pin.svg);
  }
  .title {
    font-size: 45px;
    position: absolute;
    bottom: 10%;
    right: 10px;
    font-weight: bold;
    color: @transparent-color;
    z-index: 0;
  }
}
@media screen and (max-width: 1110px) and (min-width: 631px) {
  .col {
    margin: 10px;
  }
}
.contentsWrap {
  height: unset;
  li {
    list-style-type: decimal;
    list-style-position: outside;
  }
  .contents {
    z-index: 1;
    position: relative;
    ul {
      margin-left: 1em;
    }
    a {
      text-decoration: underline;
      &:hover {
        color: @link-hover-color;
      }
    }
  }
}
.contentsFix {
  position: fixed;
  max-width: 300px;
  min-width: 295px;
  max-height: 88%;
  top: 74px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
}
.wordCloudWrap {
  overflow: hidden;
}
.hide {
  display: none;
}
.commentWrap {
  height: unset;
}
