:root {
  // ant-select
  .ant-select-dropdown {
    background-color: var(--select-dropdown-bg);
  }
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: var(--component-hover);
  }
  // ant-anchor
  .ant-anchor-ink::before {
    background-color: var(--border-color);
  }
  .ant-anchor-ink-ball {
    border: 2px solid var(--info-color);
  }
  .ant-card-bordered {
    border: 1px solid var(--border-color);
    background: var(--component-background);
  }
  .ant-table {
    background: var(--table-tr-bg);
    td.ant-table-column-sort {
      background: var(--table-header-sort-bg);
    }
    .ant-table-tbody > tr.ant-table-row:hover > td {
      background: var(--table-row-hover-bg);
    }
    .ant-table-tbody > tr > td {
      border-bottom: 1px solid var(--border-color);
    }
    .ant-table-thead > tr > th {
      background: var(--table-header-bg);
      border-bottom: 1px solid var(--border-color);
    }
  }
  .ant-drawer-header {
    background: var(--component-background);
    border-bottom: 1px solid var(--border-color);
  }
  .ant-drawer-body {
    background: var(--component-background);
  }
  .ant-divider-horizontal.ant-divider-with-text::before,
  .ant-divider-horizontal.ant-divider-with-text::after {
    border-top-color: var(--border-color);
  }
  .ant-back-top-content {
    background-color: var(--backtop);
  }
}
