:root body {
  // -------- Base ----------
  --border-radius-base: 4px;
  // -------- Colors -----------
  --primary-color: #ff5000;
  --info-color: #1a90ff;
  --success-color: #52c41a; // 成功色
  --warning-color: #faae14; // 警告色
  --error-color: #ff1d1e; // 错误色
  --normal-color: #d9d9d9;
  --white: #fff;
  --black: #000;
  --item-hover-bg: rgba(0, 0, 0, 0.1);
  // Background color for `<body>`
  --body-background: #efefef;

  // Base background color for most components
  --component-background: #fff;
  // text
  --text-color: #3d4451;
  --text-color-secondary: #666666;
  --text-color-third: #dcdcdc;
  --text-color-fourth: #efefef;
  // h tag
  --heading-color: #191a1a;
  // LINK
  --link-color: #2b2b2b;
  --link-hover-color: #4aa8ff;
  --link-active-color: #1789f2;
  --border-color: #e1e1e6;
  --border-color-split: #e1e1e6;
  // Disabled states
  --disabled-color: #babfbf;
  --disabled-bg: #ececee;
  // input
  --input-border-color: #e1e1e6;
  // tooltip
  --tooltip-bg: #fff;
}

:root body.dark {
  // -------- Base ----------
  --border-radius-base: 4px;
  // Colors
  --primary-color: #ff7800;
  --error-color: #f5222d;
  --warning-color: #faad14;
  --info-color: #1890ff;
  --success-color: #52c41a;
  --border-color-base: #6d6d6d;
  --border-color-split: #6d6d6d;
  --heading-color: #fff;
  --text-color: #e8edee;
  --text-color-secondary: #cdcfcf;
  --text-color-third: #787a7a;
  --text-color-fifth: #c8c8cc;
  --link-hover-color: #ff8b1d;
  --link-active-color: #ff6600;
  --disabled-color: #6b6d6d;
  --disabled-bg: #3e3e3e;
  --item-hover-bg: rgba(255, 255, 255, 0.1);

  // Background color for `<body>`
  --body-background: #2b2b2e;
  // --component-background: #5a5a5a;
  --component-background: #2b2b2e;

  // table
  --table-header-bg: #3a3a3e;
  --table-header-color: #cdcfcf;
  --table-row-hover-bg: rgba(255, 255, 255, 0.08);
  --table-header-sort-bg: rgba(126, 126, 126, 0.1);
  --table-border-radius-base: 6px;
  --table-selected-row-bg: rgba(255, 255, 255, 0.08);

  // select
  --select-item-selected-bg: rgba(255, 255, 255, 0.1);
  --select-item-active-bg: rgba(255, 255, 255, 0.1);
  --select-dropdown-bg: #5a5a5a;

  // tag
  --tag-default-color: #787a7a;

  // input
  --input-bg: #2b2b2e;

  // tooltip
  --tooltip-bg: #55555a;
}
