.wrapper {
  position: absolute;
  top: 0;
  transition: top 0.5s ease-out;
  left: 0;
  right: 0;
  z-index: 1;
  padding-bottom: 320px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: calc(100vw - 5px) !important;
  }
}
.active {
  top: 100vh;
}
.disActive {
  top: 0;
}
.trigger {
  top: 90vh;
}
.clickTip {
  color: var(--text-color);
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.6s ease-in;
  position: absolute;
  top: calc(5vh - 15px);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.show {
  opacity: 1;
}
.main {
  margin: 8em auto 0 auto;
  max-width: 1200px;
  padding: 0.4em;
}
.mainWrap {
  background: var(--main-background);
  border-radius: var(--border-radius-base);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  padding: 0.8em !important;
  min-height: 25.6em;
  z-index: 1;
  width: 100%;
  max-width: calc(100vw - 0.8em);
  @media (min-width: 1025px) {
    max-width: calc(100vw - 338px);
  }
}
.container {
  display: grid;
  gap: 20px 20px;
  grid-template-areas: '.';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @media (min-width: 1025px) {
    grid-template-columns: 1fr 300px;
    grid-template-areas: '. .';
  }
}
